*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --ff-primary: 'Red Hat Display', sans-serif;

  --radius: 1.125rem;
  --radius-sm: 0.625rem;

  --transition: 0.2s ease-in-out;
}

body {
  background-color: var(--clr-pale-blue);
  font-size: 1rem;
  font-family: var(--ff-primary);
  line-height: 1.6;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-block: 1rem;
  line-height: 1.1;
  font-weight: 900;
}

a {
  color: inherit;
}

/* make working with image easier */
img {
  display: block;
  max-width: 100%;
}

/* utils */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--clr-pale-blue);
  background-image: url('./public/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  max-width: 1440px;
  padding: 1.5rem;
  min-height: 100vh;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  border: 0;
  border-radius: var(--radius-sm);
  padding: 1rem;
  line-height: 1;
  text-align: center;
  font-weight: 900;
  font-size: 0.9375rem;
}

.btn-block {
  display: block;
  width: 100%;
}

/* styles */
.card {
  background-color: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: 0px 28px 50px rgba(182, 194, 245, 0.6);
  overflow: hidden;
  max-width: 450px;
}

.card-content {
  text-align: center;
  padding: 1.5rem;
}

.card-title {
  color: var(--clr-dark-blue);
}

.card-body {
  color: var(--clr-desaturated-blue);
  font-weight: 500;
  letter-spacing: 0.015em;
}

.plan {
  background-color: hsl(230, 75%, 98%);
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  gap: 1rem;
  border-radius: var(--radius-sm);
  font-size: 0.875rem;
  letter-spacing: 0.015em;
  margin-top: 1.5rem;
}

.plan-body {
  text-align: left;
}

.plan-body .plan-title {
  font-weight: 900;
}

.plan-body .plan-price {
  color: var(--clr-desaturated-blue);
}

.plan-link {
  font-weight: 700;
}

.plan-link a {
  color: var(--clr-bright-blue);
  transition: all var(--transition);
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.plan-link a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 1px;
  background-color: var(--clr-bright-blue);
  z-index: -1;
  transition: background-color var(--transition);
}

.plan-link a:hover,
.plan-link a:focus {
  color: #766cf1;
}

.plan-link a:hover::after,
.plan-link a:focus::after {
  background-color: transparent;
}

.card-buttons {
  margin-top: 1.5rem;
}

.card-buttons > * + * {
  margin-top: 1rem;
}

.btn-payment {
  background-color: var(--clr-bright-blue);
  color: var(--clr-very-pale-blue);
  letter-spacing: 0.015em;
  box-shadow: 0px 22px 35px rgba(56, 42, 225, 0.2);
  transition: background-color var(--transition);
}

.btn-payment:hover {
  background-color: #766cf1;
}

.btn-cancel {
  background-color: transparent;
  color: var(--clr-desaturated-blue);
  letter-spacing: 0.015em;
  transition: color var(--transition);
}

.btn-cancel:hover {
  color: var(--clr-dark-blue);
}

@media screen and (min-width: 40em) {
  h1,
  h2,
  h3 {
    font-size: 1.75rem;
  }

  .container {
    background-image: url('./public/pattern-background-desktop.svg');
    margin: 0 auto;
  }

  .card-content {
    padding: 2rem 3rem;
  }

  .plan {
    font-size: 1rem;
  }

  .plan-link a {
    font-size: 0.875rem;
  }

  .btn {
    font-size: 0.875rem;
  }
}
